---
layout: default
title: Lecture
permalink: /lecture/
---

Lectures introduce <a href="#explicit-algorithms">explicit
algorithms</a> for solving problems.  Furthermore, lectures <a
href="#debunk-fallacies">debunk common fallacies</a> and provide an <a
href="#empirical-foundation">empirical foundation</a> for theories and
formul&aelig;.  This approach is supported by a review of Physics
Education Research.

<h3 id="explicit-algorithms">Explicit Algorithms</h3>

<p>This excerpt from an actual lecture introduces an algorithm for
Lenz's Law.  Students will need this algorithm for <a href="{{
site.baseurl }}/post-lecture/#tutorial-questions">tutorial</a>, <a
href="{{ site.baseurl
}}/post-lecture/#homework-questions">homework</a> and <a href="{{
site.baseurl }}/post-lecture/#test-questions">test</a> questions that
follow.  {% include danger.html file="video" %}</p>

{% include include-video.html
path="lecture/ZAJAC-Lenz" %}

<h3 id="debunk-fallacies">Debunk Fallacies</h3>

<p>This excerpt from an actual lecture debunks the fallacy that a
battery maintains constant current&nbsp;&mdash; a mistaken belief held
by many students.  A reminder that temperature reflects atomic motion
suggests, for students, that <var>&varrho;</var> in <var>R =
&varrho;L/A</var> must embody (temperature-dependent) microscopic
properties of a conducting material.  The meanings of <var>L</var> and
<var>A</var> are covered in the <a
href="#empirical-foundation">next</a> lecture except.  {% include
danger.html file="video" %}</p>

{% include include-video.html
path="lecture/ZAJAC-filament" %}

<h3 id="empirical-foundation">Empirical Foundation</h3>

<p>This excerpt from an actual lecture provides empirical context for
a discussion of resistance.  To explain <var>R = &varrho; L / A</var>
as the relevant formula, <var>L</var> and <var>A</var> are introduced
as the dimensions of play-dough sausages, from the pre-lecture video.
The meaning of <var>&varrho;</var> is covered in the <a
href="#debunk-fallacies">previous</a> lecture excerpt.  {% include
danger.html file="video" %}</p>

{% include include-video.html
path="lecture/ZAJAC-play-dough" %}
