---
layout: default
title: Post-lecture
permalink: /post-lecture/
---

<p>To prepare for <a href="#test">tests<a>, students have two chances
to practice problem-solving algorithms from <a href="{{ site.baseurl
}}/lecture/">lectures<a>.  Practice starts with guided, collaborative
problem-solving in <a href="#tutorial">tutorials<a>, followed by <a
href="#homework">homework<a> for individual practice.

<h3 id="tutorial">Tutorial</h3>

<p>For students, tutorials are like a workout: instructors act as
personal trainers, setting the pace and providing encouragement but
insisting that students do all the exercises.  I inherited a course
that had students sit and watch, as teaching assistants solved
problems.  I moved these weekly meetings from an auditorium to a
setting in which students face each other, sitting around tables.  In
groups of four, students now collaborate to solve unfamiliar problems,
using familiar methods. This involves reproducing each step from
algorithms that were demonstrated in the most recent lecture.  I
created problem booklets that prompt debate by asking students to
choose one or more correct statements, from a list of options, based
on physical reasoning. Teaching assistants and I circulate to give
instant feedback.  Crucially, supervision ensures that students
actually solve problems, rather than downloading solutions from the
internet.</p>

<h4 id="tutorial-questions">Tutorial Questions</h4>

<p>This tutorial gives students practice with an explicit algorithm
for Lenz's Law, which was introduced in an earlier <a href="{{
site.baseurl }}/lecture/#explicit-algorithms">lecture</a>.  Refer to
the <a href="#tutorial-answers">next section</a> for a version with
the answers.  Relevant tactics and strategies are attached, in an
appendix (pg. 5). </p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-tutorial-questions.pdf#page=1&view=FitH"
width="800px" %}

<h4 id="tutorial-answers">Tutorial Answers</h4>

<p>Refer to the <a href="#tutorial-questions">previous section</a> for
a version without the answers.  Relevant tactics and strategies are
attached, in an appendix (pg. 5).  This tutorial gives students
practice with an explicit algorithm for Lenz's Law, which was
introduced in an earlier <a href="{{ site.baseurl
}}/lecture/#explicit-algorithms">lecture</a>.</p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-tutorial-answers.pdf#page=1&view=FitH"
width="800px" %}

<h3 id="homework">Homework</h3>

Homework gives students individual practice with topics from the most
recent tutorial.

<h4 id="homework-questions">Homework Questions</h4>

<p>This homework revisits an explicit algorithm for Lenz's Law, which
students practiced in a <a href="#tutorial">tutorial<a>, following an
introductory <a href="{{ site.baseurl
}}/lecture/#explicit-algorithms">lecture</a>. Refer to the <a
href="#homework-answers">next section</a> for a version with the
answers.  Relevant tactics and strategies are attached, in an appendix
(pg. 5). </p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-homework-questions.pdf#view=FitH"
width="800px" %}

<h4 id="homework-answers">Homework Answers</h4>

<p> Refer to the <a href="#homework-questions">previous section</a>
for a version without the answers.  Relevant tactics and strategies
are attached, in an appendix (pg. 5).  This homework revisits an
explicit algorithm for Lenz's Law, which students practiced in a <a
href="#tutorial">tutorial<a>, following an introductory <a href="{{
site.baseurl }}/lecture/#explicit-algorithms">lecture</a>.</p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-homework-answers.pdf#view=FitH"
width="800px" %}

<h3 id="test">Test</h3>

Each test includes multiple-choice questions, on conceptual knowledge,
and procedural knowledge questions which require students to reproduce
the steps in a problem-solving algorithm.

<h4 id="test-questions">Test Questions</h4>

<p>This sample test, without answers, includes conceptual questions
(pg. 2), procedural questions (pg. 6) and formul&aelig;
(pg. 11). Requisite procedural knowledge includes an explicit
algorithm for Lenz's Law, which students practiced for <a
href="#homework">homework<a> and in a <a href="#tutorial">tutorial<a>,
following an introductory <a href="{{ site.baseurl
}}/lecture/#explicit-algorithms">lecture</a>.  Refer to the <a
href="#test-answers">next section</a> for a version with the
answers.</p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-test-questions.pdf#view=FitH"
width="800px" %}

<h4 id="test-answers">Test Answers</h4>

<p>This sample test, with answers, includes conceptual questions
(pg. 2), procedural questions (pg. 6) and formul&aelig; (pg. 11).
Refer to the <a href="#test-questions">previous section</a> for a
version without the answers.  Requisite procedural knowledge includes
an explicit algorithm for Lenz's Law, which students practiced for <a
href="#homework">homework<a> and in a <a href="#tutorial">tutorial<a>,
following an introductory <a href="{{ site.baseurl
}}/lecture/#explicit-algorithms">lecture</a>.</p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-test-answers.pdf#view=FitH"
width="800px" %}

<h4 id="test-score-card">Test Score Card</h4>

<p>To ensure consistent grading, I created a score card for each test.
This provides graders with a check-list of possible deductions.  After
grading, each test is returned with a score card affixed so that
students have a clear record of any points that were lost.</p>

{% include include-PDF.html
height="400px"
path="/post-lecture/ZAJAC-test-score-card.pdf#view=FitH"
width="800px" %}