---
layout: default
title: Pre-lecture
permalink: /pre-lecture/
---

<p>In the 24 hours before class, students are expected to watch a
brief <a href="#pre-lecture-video">pre-lecture video</a> that shows
physics in action.  Students can also download a student version of
the <a href="#lecture-notes">lecture notes</a>.</p>

<h3 id="pre-lecture-video">Pre-lecture Video</h3>

<p>Each pre-lecture video provides an essential empirical prelude to
development and application of theory, in lectures.  I created a
custom interface that solicits and grades student responses.  To favor
limbic association over effortful memory, I let students fix mistakes
immediately.  For the YouTube generation, "snacking" on short videos
is more appealing than assigned textbook readings.</p>

<p>The following example provides a demonstration of Lenz's Law,
setting the stage for a <a href="{{ site.baseurl
}}/lecture/#explicit-algorithms">lecture</a>, <a href="{{ site.baseurl
}}/post-lecture/#tutorial">tutorial</a> and <a href="{{ site.baseurl
}}/post-lecture/#homework">assignment</a> that follow.</p>

<div
  class="loading"
  style='background-image: url("{{site.baseurl}}/assets/Loading.png");'>
<iframe
height="525px"
src="{{site.baseurl}}/assets/pre-lecture-video/index.html"
width="800px">
</iframe>
</div>

<h3 id="lecture-notes">Lecture Notes</h3>

<p>There are two versions of the lecture notes, <a
href="#student-version">one for students</a> and <a
href="#instructor-version">one for instructors</a>.</p>

<h4 id="student-version">Student Version</h4>

<p>Before each lecture, students can download a student version of the
notes.  The student notes are a redacted version of the <a
href="#instructor-version">instructor notes</a>, with annotations and
key words removed. </p>

<p>The following sample notes form the basis of a future <a href="{{
site.baseurl }}/lecture/#debunk-fallacies">lecture</a> on Lenz's Law.
{% include danger.html file="PDF" %}</p>

{% include include-PDF.html
height="400px"
path="/pre-lecture/ZAJAC-notes-student.pdf#page=1&view=FitH"
width="800px" %}

<h4 id="instructor-version" >Instructor Version</h4>

<p>While following a lecture, students can transform a <a
href="#student-version">student version</a> of the notes into a
facsimile of the instructor version.  Starting with the student
version, students can fill in the blanks and make annotations. </p>

<p>The following sample notes form the basis of a future <a href="{{
site.baseurl }}/lecture/#debunk-fallacies">lecture</a> on Lenz's Law.
{% include danger.html file="PDF" %}</p>

{% include include-PDF.html
height="400px"
path="/pre-lecture/ZAJAC-notes-instructor.pdf#page=1&view=FitH"
width="800px" %}

