<aside>
<nav class="side-bar">
{% for section in site.data.contents.sections %}
{% if page.url == section.url %}
<a
class="stuck"
href="#{{ page.title | slugify }}"
>{{ section.title }}</a>
{% if section.subsections[0] }} %}
{% for subsection in section.subsections %}
<a
class="stuck subsection"
href="#{{ subsection.title | slugify }}"
>{{ subsection.title }}</a>
{% if subsection.subsubsections[0] }} %}
{% for subsubsection in subsection.subsubsections %}
<a
class="stuck subsubsection"
href="#{{ subsubsection.title | slugify }}"
>{{ subsubsection.title }}</a>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% else %}
<a
href="{{ section.url }}"
>{{ section.title }}</a>
{% endif %}
{% endfor %}
</nav>
</aside>