<div
  class="loading"
  style='background-image: url("{{site.baseurl}}/assets/Loading.png");'>
<object
data="{{site.baseurl}}/assets{{include.path}}"
height={{ include.height | default: "306px"}}
type="application/pdf"
  width={{ include.width | default: "612px"}}>
<iframe
src="{{site.baseurl}}/assets/{{include.path}}"
height={{ include.height | default: "306px"}}
width={{ include.width | default: "612px"}}>
<p>This browser does not have a built-in PDF viewer.  <a
href="{{site.baseurl}}/assets{{include.path}}">Click here</a> to download
the PDF instead.</p>
  </iframe>
  </object>
</div>