aside {
    nav {
	&.side-bar {
	    height: 100%; 
	    width: $side-bar-width; 
	    position: fixed; 
	    z-index: 1; 
	    top: 0; 
	    left: 0;
	    background-color: black; 
	    overflow-x: hidden; 
	    padding: 64px 0px 0px 32px;
	    a {
		border: 1px solid transparent;
		color: white;
		display: block;
		font-size: 1.5em;
		padding: 2px 2px 2px 2px;
		text-decoration: none;
		&:hover {
		        background: white;
			color: black;
			border: 1px solid black;
		}
		&.stuck {
		    background: white;
		    color: black;
		}
		&.subsection {
		    font-size: 1.17em;
		    padding: 0px 0px 0px 16px;
		}
		&.subsubsection {
		    font-size: 1.12em;
		    padding: 0px 0px 0px 32px;
		}
	    }
	}
    }
}

main {
    margin-left: $side-bar-width + 16px; 
    max-width: $main-max-width;
    figure {
	margin: 0;
	padding: 0;
    }
    div {
	&.loading {
	    background-position: center;
	    background-repeat: no-repeat;
	}
    }
    strong {
	&.danger {
	    color: red
	}
    }
}

